/* slight.css v2 |
  minimal enhancements on top of the user agent stylesheet
  provides a pleasant reading experience while relying mostly on native browser styles
  can be used as a baseline for web projects or minimal websites/blogs
*/

/* toc |
  1. variables
  2. typography
  3. prose elements
*/

/* 1. variables */

:root {
	/* customizable variables - you may change these as you wish */
	color-scheme: light dark;
	--sc-font: system-ui, sans-serif;
	--sc-font-mono:
		ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
		"DejaVu Sans Mono", monospace;

	/* unsafe variables - not recommended to customize, may be removed or changed in the future */
	--sc-prose-bd: rgba(0, 0, 0, 0.2);
	--sc-prose-bg: rgba(0, 0, 0, 0.1);
}

@supports (color: light-dark(white, black)) {
	:root {
		--sc-prose-bd: light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
		--sc-prose-bg: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
	}
}

/* 2. typography */

html {
	font-family: var(--sc-font);
	line-height: 1.5;
	tab-size: 4;
}

body {
	max-width: 48rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

@media print {
	body {
		max-width: revert;
	}
}

code,
kbd,
samp,
pre {
	font-family: var(--sc-font-mono);
	font-size: 0.9rem;
}

/* 3. prose elements |
	these are built-in for beautifying articles or documentation. it improves some default elements to make them more readable
	you can use it by applying class="prose" to a container that wraps your content, such as <main>, <body>, <div>, etc
*/

.prose img,
.prose video,
.prose iframe {
	max-width: 100%;
}

.prose table {
	border-collapse: collapse;
}

.prose th,
.prose td {
	border: 1px solid var(--sc-prose-bd);
	padding: 0.25rem 0.5rem;
}

.prose thead tr,
.prose tbody tr:nth-child(even) {
	background-color: var(--sc-prose-bg);
}

.prose :not(pre) > code,
.prose :not(pre) > samp,
.prose :not(pre) > kbd,
.prose pre {
	background-color: var(--sc-prose-bg);
}

.prose pre {
	overflow-x: auto;
	max-width: 100%;
	padding: 0.5rem;
}

.prose blockquote {
	border-left: 0.25rem solid var(--sc-prose-bd);
	background-color: var(--sc-prose-bg);
	padding-left: 1rem;
	margin-left: 0;
	margin-right: 0;
}
